// Variables
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2DC;
$width-100: 100%;
$font-s: 14px;
$font-m: 16px;
$font-l: 20px;
// Mixins
@mixin flex-column--justify-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-column--align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-row--justify-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin flex-row--align-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin margin-padding-null {
    margin: 0px;
    padding: 0px;
}

@mixin font-m-bold {
    font-size: $font-m;
    font-weight: bold;
}

@mixin font-l-bold {
    font-size: $font-l;
    font-weight: bold;
}

@mixin button {
    margin: 15px 0px 60px 0px;
    padding: 15px 50px 15px 50px;
    @include font-m-bold;
    background: linear-gradient($color-secondary 20%, $color-primary);
    color: white;
    box-shadow: 1px 1px 3px grey;
    border: none;
    border-radius: 25px;
}

@mixin filters {
    width: 90%;
    height: 60px;
    box-shadow: 1px 1px 3px grey;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

@mixin pictures {
    object-fit: cover;
    object-position: 50% 40%;
}


/* Beginning of the mobile-first version */

@media screen and (max-width:768px) {
    * {
        box-sizing: border-box;
        font-family: "Roboto";
    }
    a {
<<<<<<< HEAD
=======
        background-color: transparent;
>>>>>>> 62d928cc1b8d8db9c36775393b8cf2ad080362b9
        text-decoration: none;
        color: black;
    }
    body {
        max-width: 768px;
        padding: 0%;
        margin: 0%;
    }
    header {
        width: $width-100;
        @include flex-column--align-center;
        border-bottom: 1px outset lightgrey;
        box-shadow: 1px 1px 3px black;
        @include margin-padding-null;
    }
    .fa-arrow-left {
        font-size: 28px;
        position: absolute;
        top: 14px;
        left: 35px;
    }
    #header__logo {
        width: 160px;
        padding: 15px 0px 10px 0px;
        margin: 0px;
    }
    #picture {
        width: $width-100;
        height: 240px;
        @include pictures;
        margin: 0px;
    }
    #bloc-cards {
        width: $width-100;
        background-color: rgb(245, 245, 245);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
<<<<<<< HEAD
=======
        z-index: 1;
>>>>>>> 62d928cc1b8d8db9c36775393b8cf2ad080362b9
    }
    #title {
        @include flex-column--align-center;
        @include margin-padding-null;
        width: $width-100;
    }
    h1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font: 24px "Shrikhand";
        width: 94%;
    }
    .fa-heart {
        height: 32px;
        width: 32px;
        font-size: 30px;
        padding: 0px;
        margin: 0px;
        transition: all 200ms;
    }
    .fa-regular {
        position: relative;
        top: 16px;
<<<<<<< HEAD
    }
    .solid {
        background-clip: text;
        background-image: linear-gradient(to bottom left, $color-primary, $color-secondary);
        color: transparent;
        -webkit-background-clip: text;
        -webkit-background-image: linear-gradient(to bottom left, $color-primary, $color-secondary);
        -webkit-color: transparent;
        position: relative;
        bottom: 16px;
        opacity: 0;
        z-index: 3;
=======
        z-index: 2;
    }
    .solid {
        color: $color-primary;
        position: relative;
        bottom: 16px;
        z-index: 3;
        opacity: 0;
>>>>>>> 62d928cc1b8d8db9c36775393b8cf2ad080362b9
        transition: all 200ms;
    }
    .solid:hover {
        opacity: 1;
<<<<<<< HEAD
=======
        transform-origin: 50% 0%;
>>>>>>> 62d928cc1b8d8db9c36775393b8cf2ad080362b9
    }
    #title-heart--position {
        display: flex;
        flex-direction: column;
    }
    h2 {
        @include font-l-bold;
<<<<<<< HEAD
        width: 10%;
        border-bottom: 3px solid $color-tertiary;
        margin: 20px 0px 20px 3%;
        padding-bottom: 5px;
=======
        margin: 20px 0px 20px 3%;
        padding: 0px;
>>>>>>> 62d928cc1b8d8db9c36775393b8cf2ad080362b9
    }
    #bloc-cards1 {
        width: $width-100;
        @include flex-column--align-center;
        @include margin-padding-null;
        animation: blocs-fade 1.2s 1s both ease-in-out;
    }
    @keyframes blocs-fade {
        0% {
            opacity: 0;
            transform: translateY(10px)
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    #bloc-cards2 {
        width: $width-100;
        @include flex-column--align-center;
        @include margin-padding-null;
        animation: blocs-fade 1.2s 2s both ease-in-out;
    }
    @keyframes blocs-fade {
        0% {
            opacity: 0;
            transform: translateY(10px)
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    #bloc-cards3 {
        width: $width-100;
        @include flex-column--align-center;
        @include margin-padding-null;
        animation: blocs-fade 1.2s 3s both ease-in-out;
    }
    @keyframes blocs-fade {
        0% {
            opacity: 0;
            transform: translateY(10px)
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
<<<<<<< HEAD
    .animation-check-menu {
        width: 100%;
    }
    .animation-check {
        width: 0%;
        transform: scaleX(0);
        transform-origin: right;
        transition: all 400ms ease-in-out;
    }
    .card:hover .animation-check {
        width: 21%;
        transform: scaleX(1);
        transform-origin: right;
        border-top-right-radius: 13px;
        border-bottom-right-radius: 13px;
=======
    .cards {
        display: flex;
    }
    .animation-check {
        width: 30%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
>>>>>>> 62d928cc1b8d8db9c36775393b8cf2ad080362b9
        background-color: #99E2DC;
        display: flex;
        justify-content: center;
        align-items: center;
<<<<<<< HEAD
        margin: 0px;
    }
    .fa-circle-check {
        font-size: 20px;
        color: white;
        transition: all 400ms 200ms;
    }
    .card:hover .fa-circle-check {
        transform: rotate(1turn);
    }
    .card {
        display: flex;
=======
        padding: 30px;
        margin: 0px;
    }
    .fa-circle-check {
        font-size: 30px;
        color: white;
        transition: all 1.5s;
    }
    .animation-check-menu:hover+.fa-circle-check {
        transform: rotate(3turn);
    }
    .card {
>>>>>>> 62d928cc1b8d8db9c36775393b8cf2ad080362b9
        width: 94%;
        background-color: white;
        border-radius: 15px;
        margin: 0px 0px 20px 0px;
<<<<<<< HEAD
        padding: 0px;
        box-shadow: 1px 1px 5px grey;
    }
    h3 {
        width: 80%;
        font-size: 18px;
        font-weight: bold;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-wrap: normal;
        flex-wrap: nowrap;
        padding: 10px 0px 5px 8px;
        margin: 0px;
    }
    .bloc-description-price {
        @include flex-row--align-center;
        justify-content: space-between;
    }
    h4 {
        width: 74%;
        font-size: $font-s;
        font-weight: normal;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-wrap: normal;
        flex-wrap: nowrap;
        padding: 5px 0px 10px 8px;
        margin: 0px;
    }
    span {
        margin-right: 5%;
        font-size: 15px;
        font-weight: bold;
=======
        padding: 0%;
        box-shadow: 1px 1px 5px grey;
        z-index: 2;
    }
    h3 {
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        z-index: 3;
    }
    h4 {
        width: 100%;
        font-size: $font-s;
        font-weight: normal;
        z-index: 3;
    }
    span {
        margin-right: 5%;
        font-size: 14px;
        font-weight: bold;
        z-index: 4;
>>>>>>> 62d928cc1b8d8db9c36775393b8cf2ad080362b9
    }
    #bloc-cards__btn--position {
        width: $width-100;
        @include flex-column--align-center;
        @include margin-padding-null;
    }
    #bloc-cards__btn {
        @include button;
        transition: all 200ms;
    }
    #bloc-cards__btn:hover {
        background: linear-gradient($color-secondary 30%, $color-primary);
        box-shadow: 3px 3px 6px grey;
    }
    footer {
        background-color: black;
        height: 190px;
        @include margin-padding-null;
    }
    #footer__logo {
        font: 18px "Shrikhand";
        padding: 15px 0px 5px 0px;
        margin: 0px 0% 0px 5%;
        color: white;
    }
    #footer__para {
        line-height: 1.6;
        font-size: 16px;
        margin: 10px 0% 10px 5%;
    }
    .footer__para {
        color: white;
    }
    .fa-utensils,
    .fa-handshake-angle {
        width: 20px;
        margin-right: 10px;
    }
    /* End of the mobile-first version */
    /* Beginning of normalize.css */
    html {
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
    }
    main {
        display: block;
    }
    hr {
        box-sizing: content-box;
        height: 0;
        overflow: visible;
    }
    pre {
        font-family: monospace, monospace;
        font-size: 1em;
    }
    abbr[title] {
        border-bottom: none;
        text-decoration: underline;
        text-decoration: underline dotted;
    }
    b,
    strong {
        font-weight: bolder;
    }
    code,
    kbd,
    samp {
        font-family: monospace, monospace;
        font-size: 1em;
    }
    small {
        font-size: 80%;
    }
    sub,
    sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }
    sub {
        bottom: -0.25em;
    }
    sup {
        top: -0.5em;
    }
    img {
        border-style: none;
    }
    button,
    input,
    optgroup,
    select,
    textarea {
        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
    }
    button,
    input {
        overflow: visible;
    }
    button,
    select {
        text-transform: none;
    }
    button,
    [type="button"],
    [type="reset"],
    [type="submit"] {
        -webkit-appearance: button;
    }
    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
    }
    button:-moz-focusring,
    [type="button"]:-moz-focusring,
    [type="reset"]:-moz-focusring,
    [type="submit"]:-moz-focusring {
        outline: 1px dotted ButtonText;
    }
    fieldset {
        padding: 0.35em 0.75em 0.625em;
    }
    legend {
        box-sizing: border-box;
        color: inherit;
        display: table;
        max-width: 100%;
        padding: 0;
        white-space: normal;
    }
    progress {
        vertical-align: baseline;
    }
    textarea {
        overflow: auto;
    }
    [type="checkbox"],
    [type="radio"] {
        box-sizing: border-box;
        padding: 0;
    }
    [type="number"]::-webkit-inner-spin-button,
    [type="number"]::-webkit-outer-spin-button {
        height: auto;
    }
    [type="search"] {
        -webkit-appearance: textfield;
        outline-offset: -2px;
    }
    [type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }
     ::-webkit-file-upload-button {
        -webkit-appearance: button;
        font: inherit;
    }
    details {
        display: block;
    }
    summary {
        display: list-item;
    }
    template {
        display: none;
    }
    [hidden] {
        display: none;
    }
}


/* End of normalize.css */


/* End of the mobile-first version */